{%- do view.registerAssetBundle("charliedev\\elementmap\\assets\\ElementMapBundle") -%}

<hr>

<div class="meta element-map">
	<div class="map">
		<label>References to This Element</label>
		<ul>
			{% for element in map.incoming %}
				<li>
					<a target="_blank" href="{{ element.url }}" data-id="{{ element.id }}" data-editable><span class="icon icon-mask">{{ svg(element.icon) }}</span>{{ element.title }}</a>
				</li>
			{% endfor %}
			{% if map.incoming | length == 0 %}
				<li>None</li>
			{% endif %}
		</ul>
	</div>
	<div class="map">
		<label>References to Other Elements</label>
		<ul>
			{% for element in map.outgoing %}
				<li>
					<a target="_blank" href="{{ element.url }}" data-id="{{ element.id }}" data-editable><span class="icon icon-mask">{{ svg(element.icon) }}</span>{{ element.title }}</a>
				</li>
			{% endfor %}
			{% if map.outgoing | length == 0 %}
				<li>None</li>
			{% endif %}
		</ul>
	</div>
</div>